<style>
body {
  font-family: Georgia;
  background-color: black;
}

* {
  box-sizing: border-box;
}


.container {
  padding: 16px;
  padding-left: 10px;
  background-color:lightblue;
}


input[type=text], input[type=password] {
  width: 35%;
  padding: 15px;
  margin: 5px 0 12px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}



.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin-left: 350px;
  border: 1px solid;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>